/********** Common **********/
html{-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */width: 100%;height: 100%;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;/*-moz-osx-font-smoothing: grayscale;*/}
body{margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;font-family: 'Montserrat', sans-serif;font-weight: 400;font-size: 16px;line-height: 1.4;width: 100%;height: 100%;color: #1a2e35;background:#ffffff;}
*{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;padding:0;margin:0;}
a{color:#ff4f5a;cursor:pointer;}
a:hover, a:focus, a:active{outline:none;text-decoration:none;}
a:hover{color: #ff4f5a;text-decoration: underline;}
.container{max-width: 1440px;}
ul, ol{list-style:none;padding:0;margin:0;}
li{display:block;}
img{border: 0;vertical-align: top;max-width: 100%;height: auto;width: auto\9; /* ie8 */}
h1,h2,h3,h4,h5,h6{margin: 0;font-weight: 600;}


label{color: #385a64;display: block;font-size: 16px;margin-bottom: 8px;}
.btn-custom{background: #ff4f5a;border: 0px;color: #ffffff;padding: 11px 30px;border-radius: 0;position: relative;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;outline: none !important;cursor: pointer;font-size: 16px;font-weight: 300;}
.btn-custom:hover,
.btn-custom:focus{color: #ffffff;background-color: #1a2e35;}
.btn-custom.cancel{opacity: .7;}
::-webkit-input-placeholder{opacity: 1;}
::-moz-placeholder{opacity: 1;}
:-ms-input-placeholder{opacity: 1;}
:-moz-placeholder{opacity: 1;}
input[type="submit"] {-webkit-appearance: none;}
input, textarea, select {outline: none;resize: none;}
input[type=checkbox]{-webkit-appearance: checkbox;-moz-appearance: checkbox;appearance: checkbox;width: 21px;height: 21px;}
input:focus, textarea:focus, select:focus{outline: none;}
button::-moz-focus-inner{border: 0;}
.form-group{margin-bottom: 23px;}
.form-control{border-color: rgba(56, 90, 100, .6);border-radius: 0;font-size: 16px;color: #1a2e35;font-weight: 400;}
.form-control.error{border-color: red;}
.form-group.submit{margin-top: 40px;}
input[type=checkbox] + label{display: inline-block;vertical-align: top;margin: 0;padding-left: 5px;}

*, *:after, *:before {box-sizing: border-box;margin: 0;padding: 0;}


.table-main{display: table;width: 100%;height: 100%;}
.table-center{display: table-cell;width: 100%;height: 100%;vertical-align: middle;}
.main{padding: 50px 0;}
.login-box{padding-left: 100px;}
.width-320{max-width: 320px;width: 100%;}
.form-logo{margin-bottom: 40px;}
.register-box .form-logo{margin-bottom: 40px;}
.reset-pass-box .form-logo{margin-bottom: 80px;}
.lock-icon{margin-bottom: 40px;}
.login-box h2{font-size: 28px;margin-bottom: 40px;}
.fotgot-link .forgot-link{float: right;padding: 12px 0;}
.register-link{margin-top: 40px;}
.register-link p{margin-bottom: 0;}
.register-box .form-group.submit{margin-top: 10px;}
.register-box .form-group.submit button{margin-right: 15px;}


/******* option2 *******/
body.option2 .table-main{background-image: url('../images/login-background.jpg');background-repeat: no-repeat;background-position: center center;background-size: cover;}
body.option2 label{color: #1a2e35;}